/*#009fff*/
.jumbotron {
  background-color: #009fff;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px;
}

.rosita {
  padding: 10px 10px 0 10px;
  background-color: #f5ab8d;
  margin-bottom: 0px;
  margin-top: 10px;
}

.card-hotel {
  flex: 1 200px;
  padding: 2px 5px 2px 5px;
  height: 100;
  margin-top: 15px;
}

.btn-reserva {
  width: 100%;
}

.footer-icon {
  padding-right: 25px;
}

.contacto {
  display: flex;
  justify-content: center;
}

body {
  background: -webkit-linear-gradient(to right, #ec2f48, #009fff);
}

/*# sourceMappingURL=styles.css.map */
