$lightblue: #009fff;

/*#009fff*/

@mixin margenes($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;
}

.jumbotron {
  background-color: $lightblue;
  color: black;
  @include margenes(50px, 0px);
}

.rosita {
  padding: 10px 10px 0 10px;
  background-color: rgb(245, 171, 141);
  margin-bottom: 0px;
  margin-top: 10px;
}

.card-hotel {
  flex: 1 200px;
  padding: 2px 5px 2px 5px;
  height: 100%;
  margin-top: 15px;
}

.btn-reserva {
  width: 100%;
}

.footer-icon {
  padding-right: 25px;
}

.contacto {
  display: flex;
  justify-content: center;
}

body {
  background: -webkit-linear-gradient(to right, #ec2f48, #009fff);
}
