.jumbotron {
  background-color: lightblue;
  color: black;
}

.rosita {
  padding: 10px 10px 0 10px;
  background-color: rgb(245, 171, 141);
  margin-bottom: 0px;
  margin-top: 10px;
}

.card-hotel {
  flex: 1 200px;
  padding: 2px 5px 2px 5px;
  height: 100%;
  margin-top: 15px;
}

.btn-reserva {
  width: 100%;
}

.footer-icon {
  padding-right: 25px;
}

.contacto {
  display: flex;
  justify-content: center;
}

body {
  /*background: -webkit-linear-gradient(to right, #ec2f48, #009fff);
  background: linear-gradient(left, tomato, cyan, lightgreen);*/
  background: url(images/cool-background.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
